.footer {
    background-color: #000000;
    height: 410px;
    width: 1440px;
  }
  
  .footer .overlap {
    height: 400px;
    left: 27px;
    position: relative;
    width: 1389px;
  }
  
  .footer .group {
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1389px;
  }
  
  .footer .text-wrapper {
    color: #ffffff;
    font-family: "Times New Roman-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 462px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 150px;
  }
  
  .footer .div {
    color: #ffffff;
    font-family: "Times New Roman-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 422px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 199px;
    width: 235px;
  }
  
  .footer .overlap-group {
    height: 377px;
    left: 813px;
    position: absolute;
    top: 23px;
    width: 562px;
  }
  
  .footer .text-wrapper-2 {
    color: #ffffff;
    font-family: "Times New Roman-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 83px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 235px;
  }
  
  .footer .p {
    color: #ffffff;
    font-family: "Times New Roman-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 355px;
    width: 306px;
  }
  
  .footer .group-2 {
    height: 140px;
    left: 0;
    position: absolute;
    top: 33px;
    width: 536px;
  }
  
  .footer .text-wrapper-3 {
    color: #ffffff;
    font-family: "Ubuntu Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 238px;
  }
  
  .footer .element-bike-lane {
    color: #ffffff;
    font-family: "Calibri-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53px;
    width: 218px;
  }
  
  .footer .group-3 {
    height: 85px;
    left: 258px;
    position: absolute;
    top: 50px;
    width: 276px;
  }
  
  .footer .element {
    color: #ffffff;
    font-family: "Calibri-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 49px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 225px;
  }
  
  .footer .group-4 {
    height: 280px;
    left: 0;
    position: absolute;
    top: 86px;
    width: 537px;
  }
  
  .footer .overlap-group-2 {
    height: 187px;
    left: 0;
    position: absolute;
    top: 93px;
    width: 543px;
  }
  
  .footer .group-5 {
    height: 187px;
    left: 0;
    position: absolute;
    top: 0;
    width: 543px;
  }
  
  .footer .text-wrapper-4 {
    color: #ffffff;
    font-family: "Ubuntu Condensed-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 231px;
  }
  
  .footer .bikepulse {
    color: #ffffff;
    font-family: "Calibri-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 62px;
    width: 250px;
  }
  
  .footer .element-2 {
    color: #ffffff;
    font-family: "Calibri-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 303px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 62px;
    width: 234px;
  }
  
  .footer .group-6 {
    height: 56px;
    left: 307px;
    position: absolute;
    top: 66px;
    width: 18px;
  }
  
  .footer .phosphor-icons {
    height: 16px !important;
    left: 0 !important;
    position: absolute !important;
    top: 19px !important;
    width: 18px !important;
  }
  
  .footer .envelope-simple {
    height: 17px !important;
    left: 0 !important;
    position: absolute !important;
    top: 39px !important;
    width: 18px !important;
  }
  
  .footer .group-7 {
    background-image: url(../assets/bike2.png);
    background-size: 100% 100%;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .footer .group-8 {
    height: 59px;
    left: 309px;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .footer .chat-circle-text {
    height: 17px !important;
    left: 0 !important;
    position: absolute !important;
    top: 20px !important;
    width: 18px !important;
  }
  
  .footer .envelope-simple-instance {
    height: 18px !important;
    left: 0 !important;
    position: absolute !important;
    top: 41px !important;
    width: 18px !important;
  }
  
  .footer .group-9 {
    background-image: url(../assets/bike1.jpg);
    background-size: 100% 100%;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .footer .home-shops {
    color: #ffffff;
    font-family: "Times New Roman-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 490px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 84px;
    width: 181px;
  }
  
  .footer .auto-repair-near-me {
    color: #ffffff;
    font-family: "Times New Roman-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 490px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 257px;
    width: 239px;
  }
  
  .footer .overlap-2 {
    height: 326px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 343px;
  }
  
  .footer .logo {
    height: 152px;
    left: 78px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 186px;
  }
  
  .footer .text-wrapper-5 {
    color: #ffffff;
    font-family: "Calibri-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 147px;
    width: 343px;
  }
  
  .footer .div-wrapper {
    height: 40px;
    left: 0;
    position: absolute;
    top: 358px;
    width: 133px;
  }
  
  .footer .text-wrapper-6 {
    color: #ffffff;
    font-family: "Times New Roman-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    height: 40px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 131px;
  }
  
  .footer .social-media {
    height: 29px;
    left: 152px;
    position: absolute;
    top: 364px;
    width: 129px;
  }
  
  .footer .icon-circle-facebook {
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    width: 36px;
  }
  
  .footer .icon-circle {
    height: 29px;
    left: 46px;
    position: absolute;
    top: 0;
    width: 36px;
  }
  
  .footer .icon-circle-youtube {
    height: 29px;
    left: 93px;
    position: absolute;
    top: 0;
    width: 36px;
  }
  