

.carousel-caption{
    color: #03045e;
    top: 30%;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 900;
}
@media (max-width: 767px) {
  .carousel-caption h1{
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .carousel-caption {
    font-size: 12px;
  }
}



.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.carousel-button {
    margin: 0 1%; 
    padding: 1% 3%;
    background-color: #367597;
    color: white;
    border: none;
    border-radius: 30px;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 1em;
    cursor: pointer;
}

.carousel-button:hover {
    color: rgb(59, 53, 150); 
}
.reserve-now-icon {
    width: 20px; 
    height: auto; 
    margin-left: 5px; 
}

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.home-body-text p.resetting-text {
    
    color: #151967;
    font-family: "Alatsi-Regular", Helvetica;
    font-weight: 400;
    font-size: 2rem;
    margin-top: -47%;
    margin-left: 35%;
    transition: margin-left 0.5s ease;

    @media (min-width: 768px) {
        margin-top: -94%;
        margin-left: 9%; 
    }

}

.home-body-text p {
  
    color: #0077B6;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    margin-top: 3%;
    margin-left: 35%;
    font-size: 2rem;

    @media (min-width: 768px) {
        margin-top: 5%;
        margin-left: 7.5%; 
    }
}

.home-body-image {
    height: 30%;
    width: 30%;
    margin-top: 5%;
    margin-left: -65%;
    left: 5%;
}
.users-ellipse {
    background-color: #03045e;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-left: 90px;
    margin-right: 10px; 
}

.carousel-caption {
    color: #03045e;
    top: 30%;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 900;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active .carousel-caption {
    transform: translateX(0);
}
@media (max-width: 767px) {
  .home-body-text {
    display: none;
  }
}


.home-customer-text {
    color: #03045e;
    margin-top: 2%;
    display: flex;
    margin-left: -17%;
    margin-top: -10%;
}
.home-customer-text p {
    margin-right: 44%; 
}


@media (max-width: 768px) {
    .home-customer-text {
        display: none;
    }
}

.search-container {
   
    position: relative;
    width: 55%; 
    border-radius: 20px;
   left: 2%;
   margin-top: 10%;

   
  }
  
@media (min-width: 768px) {
    .search-container {
        width: 40%; 
        left: 2%;
        margin-top: 12%; 
    }
}
  
  
  .search-bar {
    position: relative; 
    width: 100%;
    padding: 10px 50px 10px 10px; 
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    outline: none;
    margin-left: 0%;
  }
  
  .search-button {
    position: absolute;
    top: -47.5%;
    right: 8%;
    width: 50px;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-button i {
    font-size: 20px;
    color: #080808; 
    
  }

  @media (max-width: 767px) {
    .search-bar {
        padding-right: 3px;
        width: 111%; 
    }

    .search-button {
        width: 40px;
        right: -10%;

        
    }
  }

  .service-station-container {
    text-align: center; 
    margin-top: 4%;
   
}

.service-station-text {
    color: #03045e;
    font-size: 16px; 
    font-weight: bold;
    font-family: "Poppins-Regular", Helvetica;
    text-align: left; 
}

@media (min-width: 768px) {
    .service-station-container {
        margin-top: 3%; 
      
    }

}


.srilanka-image-container {
    width: 100%; 
    margin-left: 111%; 
    margin-top: -125%;

}
@media (max-width: 767px) {
    .srilanka-image-container {
       display: none;
    }
}
.srilanka-image {
    width: 75%;
    
}

.container
.card{
 
padding: 5% 165% 10% 10%;
margin-bottom: 10px;
border-radius: 40px;
background-color: #CAF0F8;
justify-content: space-between;
align-items: flex-start;

  }


  .details {
    display: flex;
  }


  
  .column, .details-content, .buttons {
    flex: 1;
  }
  


  .container {

    justify-content: center; 
   
  }
 

  .text-heading {
    font-weight: bold;
    font-family: "Poppins-Regular", Helvetica;
    color: #0070FF;
    margin-bottom: 10px;
  }
  
  .button-locate
   {
    
    
    background-color: #0096C7;
   
  }
  .button-reservation{
   
    background-color: #04B600;
   
  }
 
  .button-locate, .button-reservation{
    flex: 1;
    padding: 5% 3%;
    margin-top: 10px;
    border: none;
    border-radius: 23px;
    color: white;
    cursor: pointer;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: bold;
    width: 250%;
  }
  @media (max-width: 767px) {
    .buttons {
      width: 50px;
    }
  }
  
  .button:hover {
    background-color: #005f8b;
  }  

  .buttons {
    flex-direction: column; 
    justify-content: flex-end; 
    margin-top: 5%; 
    flex-wrap: wrap;
   
  }

  @media (max-width: 767px) {
    .details-content {
      display: none;
    }
  }
  .card .column,
.card .details-content,
.card .buttons {
  margin-right: 55px; 
}
.details-content p:nth-of-type(1) {
  width: 190px; 
}
.details-content{
  margin-top: 5%;
}

.column p:nth-child(2), /* Selects the second <p> element in .column */
.column p:nth-child(3) { /* Selects the third <p> element in .column */
  width: 200px; 
}

.direction-link:hover {
  color: red; 
  cursor: pointer; 
}




  
  
