

.carousel-caption{
    color: #03045e;
    top: 30%;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
@media (max-width: 767px) {
  .carousel-caption h1{
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .carousel-caption {
    font-size: 12px;
  }
}



.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.carousel-button {
    margin: 0 1%; 
    padding: 1% 3%;
    background-color: #367597;
    color: white;
    border: none;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.carousel-button:hover {
    color: rgb(59, 53, 150); 
}
.reserve-now-icon {
    width: 20px; 
    height: auto; 
    margin-left: 5px; 
}

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.home-body-text p.resetting-text {
    
    color: #151967;
    font-family: "Alatsi-Regular", Helvetica;
    font-weight: 400;
    font-size: 2rem;
    margin-top: -47%;
    margin-left: 35%;
    transition: margin-left 0.5s ease;

    @media (min-width: 768px) {
        margin-top: -94%;
        margin-left: 9%; 
    }

}

.home-body-text p {
  
    color: #0077B6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 3%;
    margin-left: 35%;
    font-size: 2rem;

    @media (min-width: 768px) {
        margin-top: 5%;
        margin-left: 7.5%; 
    }
}

.home-body-image {
    height: 30%;
    width: 30%;
    margin-top: 5%;
    margin-left: -65%;
    left: 5%;
}
.users-ellipse {
    background-color: #03045e;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-left: 90px;
    margin-right: 10px; 
}

.carousel-caption {
    color: #03045e;
    top: 30%;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active .carousel-caption {
    transform: translateX(0);
}
@media (max-width: 767px) {
  .home-body-text {
    display: none;
  }
}


.home-customer-text {
    color: #03045e;
    margin-top: 2%;
    display: flex;
    margin-left: -17%;
    margin-top: -10%;
}
.home-customer-text p {
    margin-right: 44%; 
}


@media (max-width: 768px) {
    .home-customer-text {
        display: none;
    }
}

.search-container {
   
    position: relative;
    width: 55%; 
    border-radius: 20px;
   left: 2%;
   margin-top: 10%;

   
  }
  
@media (min-width: 768px) {
    .search-container {
        width: 40%; 
        left: 2%;
        margin-top: 12%; 
    }
}
  
  
  .search-bar {
    position: relative; 
    width: 100%;
    padding: 10px 50px 10px 10px; 
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    outline: none;
    margin-left: 0%;
  }
  
  .search-button {
    position: absolute;
    top: -47.5%;
    right: 8%;
    width: 50px;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-button i {
    font-size: 20px;
    color: #080808; 
    
  }

  @media (max-width: 767px) {
    .search-bar {
        padding-right: 3px;
        width: 111%; 
    }

    .search-button {
        width: 40px;
        right: -10%;

        
    }
  }

  .service-station-container {
    text-align: center; 
    margin-top: 4%;
   
}

.service-station-text {
    color: #03045e;
    font-size: 16px; 
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: left; 
}

@media (min-width: 768px) {
    .service-station-container {
        margin-top: 3%; 
      
    }

}


.srilanka-image-container {
    width: 100%; 
    margin-left: 150%; 
    margin-top: -145%;

}
@media (max-width: 767px) {
    .srilanka-image-container {
       display: none;
    }
}
.srilanka-image {
    width: 65%;
   
    
}

.container
.card{
 
padding: 5% 130% 10% 10%;
margin-bottom: 10px;
border-radius: 40px;
background-color: #CAF0F8;
justify-content: space-between;
align-items: flex-start;

  }
  @media (max-width: 767px) {
    .container .card{
      padding: 5% 170% 10% 10%;
    }
  }

  .details {
    display: flex;
  }


  
  .column, .details-content, .buttons {
    flex: 1;
  }
  


  .container {

    justify-content: center; 
   
  }
 

  .text-heading {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #0070FF;
    margin-bottom: 10px;
  }
  
  .button-locate
   {
    
    
    background-color: #0096C7;
   
  }
  .button-reservation{
   
    background-color: #04B600;
   
  }
 
  .button-locate, .button-reservation{
    flex: 1;
    padding: 5% 3%;
    margin-top: 10px;
    border: none;
    border-radius: 23px;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    width: 250%;
  }
  @media (max-width: 767px) {
    .buttons {
      width: 50px;
    }
  }
  
  .button:hover {
    background-color: #005f8b;
  }  

  .buttons {
    flex-direction: column; 
    justify-content: flex-end; 
    margin-top: 5%; 
    flex-wrap: wrap;
   
  }

  @media (max-width: 767px) {
    .details-content {
      display: none;
    }
  }
  .card .column,
.card .details-content,
.card .buttons {
  margin-right: 55px; 
}
.details-content p:nth-of-type(1) {
  width: 190px; 
}
.details-content{
  margin-top: 5%;
}

.column p:nth-child(2),
.column p:nth-child(3) { 
  width: 200px; 
}

.direction-link:hover {
  color: red; 
  cursor: pointer; 
}

.services-container {
  text-align: center;
  margin-bottom: 50px; 
}

.services-heading {
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-top: 20%;
}

@media (max-width: 767px) {
  .services-heading {
   margin-top: 12%;
  }
}

.horizontal-scroll-container {
  margin-top: 4%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.horizontal-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.card-horizontal {
  width: 300px; 
  margin: 0 9px; 
  padding: 15px;
  background-color: #F9F9FF; 
  border-radius: 7px;
  scroll-snap-align: start;
  font-family: "Poppins", sans-serif;
  transition: border-color 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18); 
}

.card-horizontal:hover {
  border-color: #F76680; 
  border-style: solid;
 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

}
.card-title:hover{
  color: #F76680;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.card-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 767px) {
  .horizontal-scroll-container {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center cards horizontally */
    overflow-x: hidden; /* Hide horizontal overflow */
  }

  .card-horizontal {
    width: 80%;
    margin: 10px 0;
  }
}

.card-horizontal img {
  width: 40px; 
  height: 40px; 
  border-radius: 70%; 
  object-fit: cover; 
  margin: 0 auto;
  display: block;
  border: 2px solid #F76680; 
  margin-bottom: 9px; 
}

.custom-carousel-indicators {
  display: flex;
  margin-top: 4%;
  justify-content: center;
  margin-left: 50%;

}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #F76680;
}

@media(max-width:767px){
  .custom-carousel-indicators{
    margin-top: 6%;
  }
  .indicator{
    width: 8px;
    height: 8px;
    margin: 0 3px ;
  }
}

/* Carousel Number Slider */
.carousel-number-slider {
  display: flex;
  justify-content: flex-end;
  margin-top: 4%;
  margin-left: 35%;
 
}
@media(max-width: 767px){
  .carousel-number-slider{
    display: none;
  }
}
.slider-number.active {
  background-color: #F76680;
}



.services-slider-bar {
  display: flex;
  background-color: #ddcfcf; 
  border-radius: 10px; 
  height: 5px; 
  width: 100%; 
  position: relative;
}

.services-slider-bar::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: transparent; 
  border-radius: 10px; 
  transition: width 0.3s ease; 
}

.card-horizontal:hover ~ .carousel-number-slider .services-slider-bar::before {
  width: 40%; 
  background-color: rgba(247, 102, 128, 0.5);
}

.carousel-indicator-slider{
  display: flex;
}

.vision-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 
 
}

.vision-text{
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-left: 2%;
  font-weight: bold;

}
.mission-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 6%;

}
.mission-text{
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-left:60%;
  font-weight: bold;
}

@media(max-width: 767px){
  .vision-text{
    font-size: 22px;
  }
}
@media(max-width: 767px){
  .mission-text{
    font-size: 22px;
    margin-left: 2%; 
  }
}
.vision-revolutionize, .mission-empower {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-left: 2%;
  margin-top: 3%;
  color: #151967;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vision-envision, .mission-innovative {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 4%;
  color: #151967;
  font-weight: 500;
}

@media(max-width: 767px) {
  .vision-revolutionize,.mission-empower{
    font-size: 18px;
    margin-top: 1%;
  }
  
  .vision-envision,.mission-innovative {
    font-size: 16px;
    margin-top: 1%;
  }
}

@media(max-width:767px){
  .vision-img,.mission-img {
    display: none;
  }
}
@media(max-width: 767px) {
  .vision-revolutionize,.mission-empower,.mission-innovative
  .vision-envision {
    background-color: #f8f9fa;
    padding: 15px;
    border-left: 5px solid #007bff; 
    margin-bottom: 20px;
  }

  .vision-envision {
    border-left-color: #151967; 
  }
}


.vision-img img {
  max-width: 90%;
  height: auto;
  margin-top: 10%;
}
.mission-img img {
  max-width: 100%;
  height: auto;
  margin-top: 10%;
}


.mission-content {
  display: flex;
  align-items: flex-start;
}
.testimonial-heading p{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
.testimonial-text {
  text-align: center;
}
.people-images{
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  
}
.person {
  text-align: center;
  margin: 20px;
}
.rounded-image {
  width: 150px;
  height: 150px; 
  border-radius: 50%;
  margin-bottom: 10px;
  transition: filter 0.3s ease;
}
.person-name {
  font-weight: bold;
  color: #A0AEC0;
  transition: color 0.3s ease;
}
.shop-name{
  color: #CBD5E0;
  transition: color 0.3s ease;
}
.person:hover .person-name
{
  color: #57007B; 
}

.person:hover .shop-name {
  color: #000000 ;
}
.person:hover .rounded-image {

  filter: brightness(120%);
}
@media(max-width:767px){
  .people-images{
    flex-direction: column; 
    align-items: center;
  }
}

.services-footer {
  width: 100%;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}

.services-footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative; /* This might not be necessary */
  z-index: 1;
}

.service-item {
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 150px;
  border-radius: 10px;
}

.service-item:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.service-item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.service-item p {
  color: #333;
  font-size: 14px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  z-index: 0; /* Ensure the overlay is behind the content */
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #ffffff;
}


