
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #000;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
    background-color: #fff;
}
a.google{
    border: 1px solid #fff;
    margin-bottom: 15px;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #fff;
    font-weight: 800;
   
}
@media screen and (max-width: 400px) {
    .login-container{
        padding: 20px 10px;
    }
    
}
 