.payment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: url('../assets/backimg3.jpg');
    background-size: cover;
    background-position: center;

  }
  
  .payment-container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .payment-container form .payment-row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .payment-container form .payment-row .payment-col{
    flex:1 1 250px;
  }
  
  .payment-container form .payment-row .payment-col .payment-title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .payment-container form .payment-row .payment-col .payment-inputBox{
    margin:15px 0;
  }
  
  .payment-container form .payment-row .payment-col .payment-inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .payment-container form .payment-row .payment-col .payment-inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .payment-container form .payment-row .payment-col .payment-inputBox input:focus{
    border:1px solid #000;
  }
  
  .payment-container form .payment-row .payment-col .payment-flex{
    display: flex;
    gap:15px;
  }
  
  .payment-container form .payment-row .payment-col .payment-flex .payment-inputBox{
    margin-top: 5px;
  }
  
  .payment-container form .payment-row .payment-col .payment-inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .payment-container form .payment-submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #333;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .payment-container form .payment-submit-btn:hover{
    background: #000;
  }