/* Reservation.css */

.resrvation-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('../assets/backimg6.jpg');
    background-size: cover;
    background-position: center;
}

.reservation-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
  }
  
  .reservation-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f1eded;
  }
  
  .reservation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reservation-form input,
  .reservation-form select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    background: transparent; 
    outline: none;

    width: 100%;
    height: 100%;
   
   
   
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

  }

  .reservation-form input::placeholder,
.reservation-form select::placeholder {
    color: #999; 
}


  
  .reservation-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reservation-form button:hover {
    background-color: #0056b3;
  }
  