.reservation-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('../assets/backimg5.jpg');
    background-size: cover;
    background-position: center;
    
    
}



.reservation-form-body{
    max-width: 350px;
    border: 1px solid #ced4da;
    margin: 10% auto 0;
    
}

.radio-btn-container{
    margin: 0 20px

}
.radio-btn-container .btn{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}
.radio-btn-container .btn::after{
  
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
   
}
.radio-btn-container .btn:checked::after{
    background-color: #000;
    transition: 0.5s;
}
.radio-btn-container span{
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
}
.booking-form{
   padding: 0 20px 20px; 
}
.booking-form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}

input::placeholder{
    color: #fff !important;
}
.input-grp-reservation{
    width: 151px;
    display: inline-block;
}

.form-control{
    font-size: 12px !important;
    border-radius: 0 !important;
    color: #fff !important;
    background: transparent !important;
    box-shadow: none !important;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}

.select-date::-webkit-calender-picker-indicator{
    background: transparent !important;
}

.custom-select{
    color: #fff !important;
    font-size: 12px !important;
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.custom-select option{
    color: #333;
}

.reservation{
    width: 100%;
    padding: 9px 0;
    border: 1px solid #ced4da !important;
    background: transparent !important;
    box-shadow: none!important;
    border-radius: 0 !important;

}
.reservation:hover{
    background: #fff!important;
    color: #000!important;
    transition: 0.5s;
}