.right-sidebar {
  position: fixed;
  right: 0;
  width: 5%;
  background-color: #E4F6FF;
  color: #fff;
  padding: 1%;
  height: 100vh;
  top: 12%;
  position: fixed;
  overflow-y: auto;

 
}

.icon {
  width: 80%;
  margin-bottom: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
