.image-section {
    width: 100%;
  }
  
  .full-width-image {
    width: 100%;
    height: auto; 
  }

  .main-cards-container{
    display: flex;
  }
  .main-cards{
 
        flex: 1;
        padding: 20px;
        margin: 10px;
        background-color: #CAE4F2;
        border-radius: 10px;
        text-align: center;
        font-family: "Poppins", sans-serif;
  }
  .main-cards h2 {
    font-size: 24px; 
    color: #000000;
    font-weight: 700; 
    font-family: "Poppins", sans-serif;
  }

  .line{
    width: 50%; 
    height: 3px;
    background-color: #0E0546;
    margin: 0 auto;
    margin-top: 30px;
  }

  .come-again-text{
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    margin-left: 40px;
    
  }
  .top-rectangle {
    width: 400px;
    background-color: #DDE7F8;
    border-radius: 10px;
    margin-left: 40px;
    height: 200px;
}

.bottom-rectangle {
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 40px;
    height: 250px;
}
.top-rectangle,
.bottom-rectangle {
    flex: 1;
}

.content {
    padding: 20px;
}

.content img {
    width: 50px; 
    height: auto;
}
.bottom-rectangle{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
  }
  .sub-cards {
    display: flex;
    flex-direction: row;
    justify-content: 20px; 
}
.rating-container{
  display: flex;

}

.stars2{
  margin-left: 50px;
}
