.shop-management-content {
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-left: 460px;
  margin-right: 100px;
  padding: 20px;
}

.shop-management-content h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center; 
  margin-bottom: 20px;
}

.shop-list {
  overflow-y: auto;
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-item {
  width: 100%;
  background-color: #F1F4F7;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s, background-color 0.3s; 
}

.shop-item:hover {
  transform: translateY(-5px); 
  background: linear-gradient(to bottom, #eaeede, #9baab7);
}


.shop-item p {
  margin-bottom: 10px;
  transition: color 0.3s; 
}

.shop-item p:hover {
  color: rgb(24, 74, 9); 
}

@media screen and (max-width: 768px) {
  .shop-management-content {
    margin-left: 0; 
    margin-right: 50; 
  }

  .shop-list {
    width: 100%; 
  }

  .sidebar-icons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .sidebar-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
  }
}