/* SubscriptionPlansManagementWindow.css */

.subscription-plans-management {
    display: flex;
    height: 100vh;
  }
  
  .left-sidebar {
    width: 350px;
    background-color: #CAF0F8;
    color: #fff;
    padding: 10px;
    height: 100vh;
  }
  
  .subscription-plans-management-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 350px;
    margin-right: 100px;
    padding: 20px;
  }
  
  .subscription-plans-management-content h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .plan-list {
    overflow-y: auto;
    width: 70%;
    margin-top: 10px;
  }
  
  .plan-item {
    background-color: #F1F4F7;
    margin-bottom: 20px;
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .plan-item p {
    margin-bottom: 15px;  /* Increased margin between paragraphs */
  }
  
  .plan-form input {
    margin-bottom: 20px;  /* Further increased margin between input boxes */
    padding: 15px;  /* Increased padding */
    background-color: #F5FBFF;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .subscription-plans-management-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .save-button,
  .edit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 15px 30px;  /* Increased padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .save-button:hover,
  .edit-button:hover {
    background-color: #9dc8ec;
  }
  