
    .div {
      background-color: #fff;
      padding: 43px 77px;
    }
    @media (max-width: 991px) {
      .div {
        padding: 0 20px;
      }
    }
    .div-2 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-2 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 38%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
    .div-3 {
      border-radius: 20px;
      border: 3px solid rgba(216, 216, 216, 0);
      background: radial-gradient(
        231% 135.8% at 0.9% 2.98%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto 0;
      padding: 48px 59px;
    }
    @media (max-width: 991px) {
      .div-3 {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
      }
    }
    .div-4 {
      justify-content: center;
      color: #03045e;
      text-align: center;
      font: 600 32px/62.5% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-5 {
      color: #000;
      align-self: start;
      margin: 55px 0 0 32px;
      font: 400 16px/20px Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-5 {
        margin: 40px 0 0 10px;
      }
    }
    .div-6 {
      color: #000;
      border-radius: 5px;
      background-color: #f5fbff;
      align-self: center;
      margin-top: 9px;
      width: 286px;
      max-width: 100%;
      justify-content: center;
      align-items: start;
      padding: 13px 60px 13px 25px;
      font: 250 12px/20px Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-6 {
        padding: 0 20px;
      }
    }
    .div-7 {
      color: #000;
      align-self: start;
      margin: 43px 0 0 32px;
      font: 400 16px/125% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-7 {
        margin: 40px 0 0 10px;
      }
    }
    .div-8 {
      color: #000;
      border-radius: 5px;
      background-color: #f5fbff;
      align-self: center;
      margin-top: 8px;
      width: 286px;
      max-width: 100%;
      justify-content: center;
      align-items: start;
      padding: 13px 60px 13px 25px;
      font: 250 12px/20px Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-8 {
        padding: 0 20px;
      }
    }
    .div-9 {
      align-self: center;
      display: flex;
      margin-top: 25px;
      width: 266px;
      max-width: 100%;
      align-items: start;
      justify-content: space-between;
      gap: 20px;
    }
    .div-10 {
      color: #000;
      font: 400 11px/145% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-11 {
      color: #03045e;
      text-decoration-line: underline;
      align-self: stretch;
      font: 400 10px/16px Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-12 {
      color: #03045e;
      text-align: center;
      white-space: nowrap;
      border-radius: 10px;
      background-color: #c1e1f8;
      align-self: center;
      margin-top: 43px;
      width: 300px;
      max-width: 100%;
      justify-content: center;
      align-items: center;
      padding: 3px 60px;
      font: 500 24px/67% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-12 {
        white-space: initial;
        margin-top: 40px;
        padding: 0 20px;
      }
    }
    .div-13 {
      align-self: stretch;
      display: flex;
      margin-top: 39px;
      justify-content: space-between;
      gap: 7px;
    }
    .div-14 {
      background-color: #000;
      align-self: center;
      width: 150px;
      height: 1px;
      margin: auto 0;
    }
    .div-15 {
      justify-content: flex-end;
      color: #000;
      font: 400 20px/80% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-16 {
      background-color: #000;
      align-self: center;
      width: 150px;
      height: 1px;
      margin: auto 0;
    }
    .div-17 {
      align-self: stretch;
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 13px;
      margin: 34px 0 39px;
    }
    .div-18 {
      justify-content: flex-end;
      color: #000;
      font: 400 16px/100% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .div-19 {
      justify-content: flex-end;
      color: #03045e;
      text-decoration-line: underline;
      align-self: stretch;
      white-space: nowrap;
      font: 400 16px/100% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-19 {
        white-space: initial;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 62%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .img {
      aspect-ratio: 1.08;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
    }
    @media (max-width: 991px) {
      .img {
        max-width: 100%;
        margin-top: 40px;
      }
    }