/* frontend\src\components\Navbar.css */

.navbar-container {
  background-color: #bfe9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px; 
}

.brand-text {
  
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  top: 16px; 
  left: 52px;
  width: 199px; 
  height: 50px; 
  

}

.brand-text-gradient {
  /* Add gradient styles here */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(3, 4, 94) 0%, rgb(0, 119, 182) 100%);
  background-clip: text;
  color: transparent;
}
.profile-icon {
  font-size: 30px !important;
  position: absolute;
  top: 25px;
  left: 1460px;
  font-size: 60px ; 
}

.login-button {
  height: 38px;
  width: 135px;
  top: px;
 
  position: absolute; 
  right: 80px;}



  .button-group,
  .rectangle {
    background-color: #03045e;
    border-radius: 30px;
    height: 38px;
    left: 0;
    position: absolute;
    top: 0;
    width: 135px;
  }
  
  .text {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    white-space: nowrap;
    width: 65px;
  }
  
  .login-button .text-wrapper:hover {
    color: #ff0000;
    text-decoration: none;
  }
  
.navbar-details {
  display: flex;
}

.nav-link {
  color: #03045e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 200px;

  
 
}



.navbar-container img {
  height: 69px;
  width: 234px;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  outline: none;
  cursor: pointer;
  
}


.logo img {
  height: 69px;
  width: 87px;
  position: relative;
  top: 0px;
  left: 17px; 
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row; 
    height: auto;
  }
  .brand-text {
    margin-bottom: 10px;
  }

  .login-button {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
  }

  .nav-link {
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }



}