/* .fault-management-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
}


.fault-management-content {
    flex: 1;
    padding: 20px;
}


.fault-form {
    background-color: #ccc;
    padding: 20px;
    border-radius: 8px;
}


.fault-item {
    margin-bottom: 20px;
}


.save-button {
    margin-top: 10px;
} */