.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  padding: 10px;
  height: 100%; 
  background: linear-gradient(to bottom, #ced1d2, #e3f7fb, #aee0f0, #87b8e9);
  color: #fff;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999; 
}

.logo-container {
  padding: 10px;
}

.logo {
  width: 100%;
  height: auto;
}

.search-bar {
  width: 100%;
  padding: 20px;
  position: center; 
  margin-bottom: 30px;
}

/* .white-box {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  height: 460px;
} */

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 40px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  transition: background-color 0.3s ease; 
}

.list-item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px; 
  width: calc(100% + 10px); 
  height: 150%; 
  background-color: #fff; 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
  z-index: -1; 
}

.list-item img {
  width: 30px; 
  height: 30px;
  margin-right: 10px; 
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 15px;
  background: linear-gradient(to right, #4b6cb7, #c7d3ec); 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff; 
  opacity: 0.9; 
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content span {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .left-sidebar {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .left-sidebar.open {
    display: block;
    width: 250px; 
    transition: width 0.3s ease; 
  }


  .left-sidebar.open .logo-container,
  .left-sidebar.open .search-bar,
  .left-sidebar.open .white-box {
    display: block;
  }
  
  .left-sidebar.open .list-item,
  .left-sidebar.open .dropdown-content {
    margin-left: 0;
  }
}

